@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

#background{
    background-image: url("./img/audio2.png");
    

    position: relative;
    
   
    padding-top: calc(25rem + 72px);
    padding-bottom: 17rem;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: scroll;
    background-size: cover;
}


#titule {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}
